.paginator {
  margin: 30px 10px 10px 10px;
}
.pageNumber {
  margin-inline: 3px;
  padding: 5px 10px;
  border-radius: 5px;
}

.pageNumber:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.selectedPage {
  color: #1677ff;
  font-weight: bold;
  border: 1px solid #1677ff;
}

.selectedPage:hover {
  background-color: rgba(113, 113, 113, 0);
}

.nextButton {
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
}

.nextButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}