.swiper {
    width: 100px;
    height: 100px;
    margin-inline: 5px;
    margin-top: 25px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border: 1px solid rgba(25, 5, 5, 0.1);
  border-radius: 10%;
}

.name {
  text-align: center;
  color: #0c0c0c;
}
