.img {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30%;
    left: 50%;
    /* animation: rotateLogo 0.5s ease-in; */
    opacity: 0.5;
    
}
/* @keyframes rotateLogo {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
} */
