.friends {
    color: #FFFAE5;
    padding-top: 10px;
}

.imgRotate {
    margin-top: 70px;
    width: 30px;
}


.friendsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 20px;
    color: black;
    gap: 25px;
}




.noFriendsMessage {
    color: black;
    text-align: center;
    font-style: italic;
}



