.friend {
    padding-right: 5px;
    
}

.friends {
    display: flex;
    flex-direction: column;
    color: #FFFAE5;
    padding-top: 10px;
    align-items: center;
}

.imgRotate {
    margin-top: 70px;
    width: 30px;
}




