.FooterWrapperFullWidth {
    /* background-color: rgba(224, 215, 199, 0.8); */
    background-color: #E0D7C7;
    position: relative;
    
    /* background: linear-gradient(to bottom, rgba(224, 215, 199, 0.8), rgba(86, 69, 62, 0.8)), no-repeat; */
    .Footer {  
        display: flex;
        justify-content: space-between;
        gap: 15px;

        max-width: 1200px;
        margin-inline: auto;
        grid-area: f;
        /* background-color: #E0D7C7; */
        /* border-top: 2px solid rgba($color: black, $alpha: 0.1); */
        .logoHeaderIcons {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            flex-basis: 70%;
            .logoAndHeader {
                display: flex;
                align-items: center;
            
                .logoText {
                    color:#211C1D;
                    font-weight: bold;
                }
            }
            .Icons {
                display: flex;
                gap: 10px;
                .icon {
                    background: transparent;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #f1f2f2;
                    border-radius: 4px;
                    margin: 3px;
                    text-align: center;
                }
            }

            /* border: 1px solid rgba(0, 0, 0, 0.1); */
            
        }
        .footerLogo {
            width: 50px;
            height: 50px;
        }
        
        .map {
            display: flex;
            flex-basis: 100%;
            
            /* border: 1px solid rgba(0, 0, 0, 0.1); */
        }
        .contactUs {
            display: flex;
            flex-basis: 50%;
            flex-direction: column;

            color: #56453E;

            .contactUsText {
                margin: 20px 0 10px 0;
                color: #97340d;
            }
            

            /* border: 1px solid rgba(0, 0, 0, 0.1); */
            .number {
                display: flex;
                align-items: center;
                gap: 5px;

                padding: 10px 0 10px 0;
                border-bottom: 1px solid #f1f2f2;
                .numberH4 {
                    margin: 0;
                }
            }
            .mail {
                display: flex;
                align-items: center;
                gap: 5px;

                padding: 10px 0 10px 0;
                border-bottom: 1px solid #f1f2f2;
                .mailH4 {
                    margin: 0;
                }
            }
            .coordinates {
                display: flex;
                align-items: center;
                gap: 5px;

                padding: 10px 0 10px 0;
                margin: 0 0 20px 0;
                border-bottom: 1px solid #f1f2f2;
                .coordinatesH4 {
                    margin: 0;
                }
            }
        }
    }
    

}


.FooterWrapperFullWidth::before {
    content: "";
    background: linear-gradient(to right, #ffffff 0%, #211C1D 50%, #ffffff 100%);
    height: 5px;
    width: 100%;
    position: absolute;
}

.FooterWrapperFullWidth::after {
    content: "Dexymiron © 2024. All rights reserved";
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #211C1D;
    opacity: 0.8;
    /* background: linear-gradient(to top, rgba(33, 28, 29, 1)
    , rgba(86, 69, 62, 0.8)), no-repeat; */
    height: 40px;
    width: 100%;
    
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

