.image {
    width: 1000px;
  }

  .defaultAvatar {
    width: 150px;
  }

  .avatar {
    width: 150px;
    object-fit: cover;
  }

  .contact {
    padding-left: 10px;
  }

  .formSummaryError {
    border: 1px solid red;
  }