@import './scss/base/breakpoints';

* {
  //font-family: Helvetica Neue;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}


.main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff; //eff2f6
}

.App-wrapper {
  margin: 0 auto;

  display: grid;
  max-width: 1200px;
  width: 100%;

 

  grid-template-areas: 
  "h h"
  "n c"
  "f f"
  ;
  grid-template-columns: 2fr 10fr;
  
}

.app-wrapper-content {
  margin-top: 5px;
  padding-inline: 10px;
  min-height: 78vh;
  grid-area: c;
  background-color:#7171710b;
  position: relative; /* для кнопки Edit Button */ 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

/* PRELOADER INITIALIZATION*/

.main-wrapper {
  display: none;
}

.App-wrapper, .Footer {
  display: none; 
}

.initialized{
  display: flex; 
}

.initialized .App-wrapper  {
  display: grid 
}

.initialized .Footer {
  display: flex;
}


@media (max-width: $breakpoint-desktop) {
  // Стили для больших экранов и десктопов
}

@media (max-width: $breakpoint-tablet) {
  // Стили для планшетов
}

@media (max-width: $breakpoint-small-tablet) {
  .App-wrapper {
    grid-template-areas: 
    "h h"
    "n n"
    "c c"
    "f f"
    ;
    margin-top: 80px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .App-wrapper {
    grid-template-areas: 
    "h h"
    "n n"
    "c c"
    "f f"
    ;
  }
}

.notFound {
  max-width: 950px;  
}
